---

- debug: 
    msg: "{{ hostvars[groups['fortigate'][0]].private_ip_address }}, {{ fortigate_name }}, {{ fortigate_serial }}" 

- name: FortiAnalyzer to Authorize Fortigate add
  fortinet.fortianalyzer.faz_dvm_cmd_add_device:
    dvm_cmd_add_device:
      adom: "{{ domain }}"
      device:
        adm_pass: "{{ adm_pass }}"
        adm_usr: "{{ adm_usr }}"
        desc: 'The device is added via FortiAnalyzer Ansible'
        ip: "{{ hostvars[groups['fortigate'][0]].private_ip_address }}"
        # name: "{{ fortigate_name }}"
        # sn: "{{ fortigate_serial }}" 
        mgmt_mode: faz
        device action: "promote_unreg"
  register: _add_fortigate
  ignore_errors: true

- name: Debug FortiAnalyzer to Authorize Fortigate add
  debug:
    var: _add_fortigate
